@font-face {
	font-family: "shfont";
	src: url("./font/shfont.woff") format("woff");
}

body {
	background-color: #0D1117;
	font-family: "shfont", "源ノ角ゴシック", "游ゴシック", system-ui;
	color: white;
}

/* h1 {
	color: white;
}

p {
	color: white;
} */

h1.downline {
	border-bottom: solid 3px white;
}

h3.downline {
	border-bottom: solid 3px white;
}

.round {
	border-radius: 6px;
	background-color: #0078D4;
	color: white;
	min-height: 42px;
	height: auto;
	box-shadow: none;
	text-align: center;
	font-weight: 700;
	cursor: pointer;
}