body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.raku {
    margin: 50px;
    padding: 50px;
    background-color: #7c7c7c61;
    border-radius: 30px;
}