@font-face {
	font-family: "shfont";
	src: url("./font/shfont.woff") format("woff");
}

body {
	background-color: #0D1117;
	font-family: "shfont", "源ノ角ゴシック", "游ゴシック", system-ui;
	color: white;
}

.downline {
	border-bottom: solid 3px white;
}

/* 
h3.downline {
	border-bottom: solid 3px white;
} */

.round {
	border-radius: 6px;
	background-color: #0078D4;
	color: white;
	min-height: 42px;
	height: auto;
	box-shadow: none;
	text-align: center;
	font-weight: 700;
	cursor: pointer;
	font-family: "shfont";
	border: none;
}

.roundgo {
	border-radius: 6px;
	background-color: #0078D4;
	color: white;
	min-height: 42px;
	height: auto;
	box-shadow: none;
	text-align: center;
	font-weight: 700;
	cursor: no-drop;
	font-family: "shfont";
	border: none;
}

header {
	display: flex;
	width: 99%;
	height: 100px;
	background-color: rgba(112, 128, 144, 0.4);
	align-items: center;
	border-radius: 6px;
	position: fixed;
	backdrop-filter: blur(6px);
}


.title {
	margin-right: auto;
	color: white;
}

.menu-item {
	list-style: none;
	display: inline-block;
	padding: 10px;
}

.msitem {
	color: white;
}

.gotop {
	border-radius: 6px;
	display: block;
	width: 60px;
	height: 60px;
	box-sizing: border-box;
	background: rgba(112, 128, 144, 0.4);
	padding-top: 30px;
	text-align: center;
	letter-spacing: -1px;
	font-size: 85%;
	text-decoration: none;
	color: white;
	opacity: 0.5;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 10000;
}

.gotop::before {
	content: "";
	display: block;
	border-top: 2px solid white;
	border-right: 2px solid white;
	width: 25%;
	height: 25%;
	top: 45%;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
	transform: rotate(-45deg);
}

html {
	scroll-behavior: smooth;
}

h1.count {
	font-size: 43px;
}

.mentone {
	cursor: pointer;
}

.alit {
	color: aqua;
}

code {
	display: inline-block;
	padding: 0.1em 0.25em;
	/* 文字周りの余白 */
	color: white;
	/* 文字色 */
	background-color: #1f1f1f;
	/* 背景色 */
	border-radius: 6px;
	/* 角丸 */
	border: solid 1px #1f1f1f;
	/* 枠線 */

	font-family: "源ノ角ゴシック Code", "Consolas", monospace;
}